Dev N8N/Alpha - ETH.json
{
  "name": "Alpha - ETH",
  "nodes": [
    {
      "parameters": {
        "options": {
          "timezone": "Asia/Kolkata"
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1400,
        520
      ],
      "id": "9ee30ba2-c203-4e9c-9f11-586af993f763",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "jsCode": "const inputDate = new Date($input.first().json.currentDate);\n\n// Current timestamp in seconds\nconst toTimestamp = Math.floor(inputDate.getTime() / 1000);\nconst fromTimestamp = toTimestamp - 7200;\n\n// Convert to human-readable IST\nconst toTimeIST = new Date(toTimestamp * 1000).toLocaleString('en-IN', { timeZone: 'Asia/Kolkata' });\nconst fromTimeIST = new Date(fromTimestamp * 1000).toLocaleString('en-IN', { timeZone: 'Asia/Kolkata' });\n\n// Get all items from \"Form Strike Price\" node\nconst strikePriceItems = $items(\"Form Strike Price\");\n\nreturn strikePriceItems.map(item => {\n    return {\n        json: {\n            ...item.json,\n            from: fromTimestamp,\n            to: toTimestamp,\n            fromTimeIST,\n            toTimeIST\n        }\n    };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        520
      ],
      "id": "88cd795e-5826-41a7-9ebf-c65fe6763d40",
      "name": "Convert Timestamp"
    },
    {
      "parameters": {
        "url": "https://api.delta.exchange/v2/tickers/ETHUSDT",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        420
      ],
      "id": "77df4d92-979a-48b8-a215-3509ef68ecbf",
      "name": "Get BTCUSDT Data"
    },
    {
      "parameters": {
        "jsCode": "const spot = $input.first().json.result.spot_price // e.g., 108422\nconst step = 20;\n\n// Calculate strikes\nconst lowerStrike = Math.floor(spot / step) * step;\nconst upperStrike = Math.ceil(spot / step) * step;\n\n// Fetch all data from the \"Time Slot\" node\nconst timeSlotData = $items(\"Time is 5:30 AM?\");\n\nreturn timeSlotData.map(item => {\n  return {\n    json: {\n      ...item.json,\n      lowerStrike,\n      upperStrike\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        420
      ],
      "id": "a1228699-2b0c-43c3-ba2d-6cc03166dc6b",
      "name": "Get Lower & Upper Strike"
    },
    {
      "parameters": {
        "jsCode": "const inputItems = $input.all();\n\nconst results = [];\n\nfor (const item of inputItems) {\n  const expiry = item.json.expiry;\n  const type = item.json.type;\n  const lowerStrike = item.json.lowerStrike;\n  const upperStrike = item.json.upperStrike;\n\n  results.push(\n    {\n      json: {\n        ...item.json,\n        symbol: `C-ETH-${upperStrike}-${expiry}`,\n        label: 'call-upper',\n        type\n      }\n    },\n    {\n      json: {\n        ...item.json,\n        symbol: `P-ETH-${upperStrike}-${expiry}`,\n        label: 'put-upper',\n        type\n      }\n    },\n    {\n      json: {\n        ...item.json,\n        symbol: `C-ETH-${lowerStrike}-${expiry}`,\n        label: 'call-lower',\n        type\n      }\n    },\n    {\n      json: {\n        ...item.json,\n        symbol: `P-ETH-${lowerStrike}-${expiry}`,\n        label: 'put-lower',\n        type\n      }\n    }\n  );\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        520
      ],
      "id": "2065289b-06ba-49b0-bef6-bb66e59ea563",
      "name": "Form Strike Price"
    },
    {
      "parameters": {
        "url": "=https://cdn.india.deltaex.org/v2/chart/history?symbol=MARK:{{ $json.symbol }}&resolution=60&from={{ $json.from }}&to={{ $json.to }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1820,
        520
      ],
      "id": "d3c6326d-91e0-47db-8fe2-87aad5d7132e",
      "name": "Get Strike Price Data"
    },
    {
      "parameters": {
        "jsCode": "let lastExpiry = null;\nlet counter = 0;\n\nreturn items.map(item => {\n  const expiry = item.json[\"Expiry Date\"];\n\n  if (expiry !== lastExpiry) {\n    counter = 1;\n    lastExpiry = expiry;\n  } else {\n    counter++;\n  }\n\n  // Create Unique ID\n  item.json[\"Unique ID\"] = `${item.json[\"Entry Date\"]}_${item.json[\"Expiry Date\"]}_${item.json[\"Strike Price\"]}_${counter}`;\n\n  // Remove temp customIndex if exists\n  delete item.json.customIndex;\n\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        520
      ],
      "id": "ff1673dc-b989-4b01-b98f-37335c19a658",
      "name": "Generate Unique ID"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "59dd7e93-0fac-43f2-a919-fa47b7f39aea",
              "name": "Entry Date",
              "value": "={{ $('Loop All Strike Price').first().json.entry }}",
              "type": "string"
            },
            {
              "id": "38642f31-3ed4-4c5c-83ae-6841e97699a9",
              "name": "Expiry Date",
              "value": "={{ $('Loop All Strike Price').first().json.expiry }}",
              "type": "string"
            },
            {
              "id": "bf3e4ee8-c72e-470a-82e3-2272d2161a3e",
              "name": "Strike Price",
              "value": "={{ \n  (() => {\n    const raw = $('Convert Timestamp').item.json[\"symbol\"];\n    const parts = raw.split('-');        // [\"C\", \"BTC\", \"118400\", \"250725\"]\n    return `${parts[2]} ${parts[0]}`;    // \"118400 C\"\n  })() \n}}",
              "type": "string"
            },
            {
              "id": "24cfadf3-cbd0-4b72-bc9d-79bb8d3e7eb1",
              "name": "={{ parseInt($('Form Strike Price').item.json.passed_hours) }}",
              "value": "=H: {{ Number($json.result.h[0]).toFixed(2) }} L: {{ Number($json.result.l[0]).toFixed(2) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2040,
        520
      ],
      "id": "d05c6570-dbec-4967-88e5-1bd6ffc744ac",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const { entry, current_time } = item.json;\n\n  // Helper to safely create IST Date\n  const createISTDate = (yyyy, mm, dd, hh, min) => {\n    const isoString = `${yyyy}-${String(mm + 1).padStart(2, '0')}-${String(dd).padStart(2, '0')}T${String(hh).padStart(2, '0')}:${String(min).padStart(2, '0')}:00+05:30`;\n    return new Date(isoString);\n  };\n\n  // Parse entry \"ddmmyy\"\n  const dd = parseInt(entry.slice(0, 2), 10);\n  const mm = parseInt(entry.slice(2, 4), 10) - 1;\n  const yy = parseInt(entry.slice(4, 6), 10);\n  const fullYear = 2000 + yy;\n\n  // Correct IST entry and expiry times\n  const entryDate = createISTDate(fullYear, mm, dd, 5, 30);\n  const expiryDate = createISTDate(fullYear, mm, dd + 1, 17, 30);\n\n  // Parse current_time manually\n  const [datePart, timePart] = current_time.split(', ');\n  const [d, m, y] = datePart.split('/').map(Number);\n  let [time, meridian] = timePart.split(' ');\n  let [hour, minute, second] = time.split(':').map(Number);\n  if (meridian.toLowerCase() === 'pm' && hour !== 12) hour += 12;\n  if (meridian.toLowerCase() === 'am' && hour === 12) hour = 0;\n\n  const currentDate = createISTDate(y, m - 1, d, hour, minute);\n\n  // Calculate total and passed hours\n  const totalMs = expiryDate - entryDate;\n  const totalHours = totalMs / (1000 * 60 * 60);\n\n  let passedMs = currentDate - entryDate;\n  if (currentDate < entryDate) passedMs = 0;\n  else if (currentDate > expiryDate) passedMs = expiryDate - entryDate;\n\n  const passedHours = passedMs / (1000 * 60 * 60);\n\n  return {\n    json: {\n      ...item.json,\n      entry_time: entryDate.toLocaleString(\"en-IN\", { timeZone: \"Asia/Kolkata\" }),\n      expiry_time: expiryDate.toLocaleString(\"en-IN\", { timeZone: \"Asia/Kolkata\" }),\n      total_hours: Number(totalHours.toFixed(2)),\n      passed_hours: Number(passedHours.toFixed(2))\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1080,
        600
      ],
      "id": "48c9692f-7567-4d5a-a1ec-44c2d1ddcd38",
      "name": "Time Difference"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const passed = Number(item.json.passed_hours?.toFixed(4)); // better precision\n  const allowed = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35.92];\n\n  const tolerance = 0.01; // ≈ 36 seconds\n  const shouldRun = allowed.some(hour => Math.abs(passed - hour) <= tolerance);\n\n  return {\n    json: {\n      ...item.json,\n      Run: shouldRun,\n      passed\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -860,
        600
      ],
      "id": "3c3b55ec-c1eb-4cee-aeac-cccefa1f936b",
      "name": "Time Slot"
    },
    {
      "parameters": {
        "jsCode": "return items.flatMap(item => {\n  const currentDateString = item.json.currentDate;\n\n  // Parse the provided current timestamp\n  const nowIST = new Date(currentDateString);\n\n  // Format DDMMYY\n  const formatDDMMYY = (date) => {\n    const dd = String(date.getDate()).padStart(2, '0');\n    const mm = String(date.getMonth() + 1).padStart(2, '0');\n    const yy = String(date.getFullYear()).slice(-2);\n    return `${dd}${mm}${yy}`;\n  };\n\n  // Helper: build date in IST directly at 5:30 AM or 5:30 PM (no shifting)\n  const buildISTDate = (year, month, day, hour, minute) => {\n    const iso = `${year}-${String(month + 1).padStart(2, '0')}-${String(day).padStart(2, '0')}T${String(hour).padStart(2, '0')}:${String(minute).padStart(2, '0')}:00+05:30`;\n    return new Date(iso);\n  };\n\n  const year = nowIST.getFullYear();\n  const month = nowIST.getMonth();\n  const day = nowIST.getDate();\n\n  const today530AM = buildISTDate(year, month, day, 5, 30);\n\n  // if current time < 5:30AM, consider previous day’s 5:30AM as \"entry\"\n  if (nowIST < today530AM) today530AM.setDate(today530AM.getDate() - 1);\n\n  const entryCurrent = buildISTDate(today530AM.getFullYear(), today530AM.getMonth(), today530AM.getDate(), 5, 30);\n  const expiryCurrent = buildISTDate(today530AM.getFullYear(), today530AM.getMonth(), today530AM.getDate() + 1, 17, 30);\n\n  const entryPrevious = buildISTDate(today530AM.getFullYear(), today530AM.getMonth(), today530AM.getDate() - 1, 5, 30);\n  const expiryPrevious = buildISTDate(today530AM.getFullYear(), today530AM.getMonth(), today530AM.getDate(), 17, 30);\n\n  const formatIST = (date) => date.toLocaleString(\"en-IN\", { timeZone: \"Asia/Kolkata\" });\n\n  const baseData = (type, expiry, entry, entryTime, expiryTime) => ({\n    json: {\n      type,\n      entry,\n      expiry,\n      symbol_C: `C-ETH-${expiry}`,\n      symbol_P: `P-ETH-${expiry}`,\n      current_time: formatIST(nowIST),\n      entry_time: formatIST(entryTime),\n      expiry_time: formatIST(expiryTime)\n    }\n  });\n\n  const result = [];\n\n  if (nowIST >= entryCurrent && nowIST <= expiryCurrent) {\n    result.push(baseData(\"current\", formatDDMMYY(expiryCurrent), formatDDMMYY(entryCurrent), entryCurrent, expiryCurrent));\n  }\n\n  if (nowIST >= entryPrevious && nowIST < expiryPrevious) {\n    result.push(baseData(\"previous\", formatDDMMYY(expiryPrevious), formatDDMMYY(entryPrevious), entryPrevious, expiryPrevious));\n  }\n\n  return result;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1300,
        600
      ],
      "id": "82dccea4-8fa2-4a58-9a9c-772973c2e92b",
      "name": "Get Entry & Exit Date"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -640,
        600
      ],
      "id": "13fd1ab4-73fa-4181-9411-9ae0d9dbad68",
      "name": "Loop All Strike Price"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a950df74-3c1a-4bf9-8873-895a32d56b9b",
              "leftValue": "={{ $(\"Check Unique ID\").item.json['Unique ID'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2740,
        480
      ],
      "id": "43691eae-976b-42c8-a4ad-60149993e22b",
      "name": "Unique ID Exist?"
    },
    {
      "parameters": {
        "jsCode": "const inputItems = $input.all();\n\n// Check if input is exactly one empty object\nconst isEmptyInput = inputItems.length === 1 && Object.keys(inputItems[0].json).length === 0;\n\nif (isEmptyInput) {\n  // Return all items from \"Generate Unique ID\" node\n  return $('Generate Unique ID').all();\n}\n\n// Otherwise, return the original input\nreturn inputItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2960,
        480
      ],
      "id": "118be1c8-c4ae-45cd-8b8c-aa810352cc53",
      "name": "Get Unique ID"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1m9wnC9yN24iiH7_TYU-2uP1KoKRIWlbfi8kYijypwo0",
          "mode": "list",
          "cachedResultName": "Alpha",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m9wnC9yN24iiH7_TYU-2uP1KoKRIWlbfi8kYijypwo0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1061696512,
          "mode": "list",
          "cachedResultName": "ETH",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m9wnC9yN24iiH7_TYU-2uP1KoKRIWlbfi8kYijypwo0/edit#gid=1061696512"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Unique ID",
              "lookupValue": "={{ $json[\"Unique ID\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2520,
        480
      ],
      "id": "71d6e895-f3de-4ec4-9333-74d248196f25",
      "name": "Check Unique ID",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "googleApi": {
          "id": "eocV2BBNNMkAOGPj",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1m9wnC9yN24iiH7_TYU-2uP1KoKRIWlbfi8kYijypwo0",
          "mode": "list",
          "cachedResultName": "Alpha",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m9wnC9yN24iiH7_TYU-2uP1KoKRIWlbfi8kYijypwo0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1061696512,
          "mode": "list",
          "cachedResultName": "ETH",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m9wnC9yN24iiH7_TYU-2uP1KoKRIWlbfi8kYijypwo0/edit#gid=1061696512"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Unique ID": "={{ $json[\"Unique ID\"] }}",
            "Expiry Date": "={{ $json[\"Expiry Date\"] }}",
            "Entry Date": "={{ $json[\"Entry Date\"] }}",
            "Strike Price": "={{ $json[\"Strike Price\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Unique ID",
              "displayName": "Unique ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Expiry Date",
              "displayName": "Expiry Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Entry Date",
              "displayName": "Entry Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Strike Price",
              "displayName": "Strike Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "0",
              "displayName": "0",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "1",
              "displayName": "1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "2",
              "displayName": "2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "3",
              "displayName": "3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "4",
              "displayName": "4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "5",
              "displayName": "5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "6",
              "displayName": "6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "7",
              "displayName": "7",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "8",
              "displayName": "8",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "9",
              "displayName": "9",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "10",
              "displayName": "10",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "11",
              "displayName": "11",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "12",
              "displayName": "12",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "13",
              "displayName": "13",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "14",
              "displayName": "14",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "15",
              "displayName": "15",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "16",
              "displayName": "16",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "17",
              "displayName": "17",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "18",
              "displayName": "18",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "19",
              "displayName": "19",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "20",
              "displayName": "20",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "21",
              "displayName": "21",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "22",
              "displayName": "22",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "23",
              "displayName": "23",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "24",
              "displayName": "24",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "25",
              "displayName": "25",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "26",
              "displayName": "26",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "27",
              "displayName": "27",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "28",
              "displayName": "28",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "29",
              "displayName": "29",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "30",
              "displayName": "30",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "31",
              "displayName": "31",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "32",
              "displayName": "32",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "33",
              "displayName": "33",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "34",
              "displayName": "34",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "35",
              "displayName": "35",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "22",
              "displayName": "22",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3180,
        480
      ],
      "id": "c59ab7e2-cdb8-4904-8f8d-c810866c8532",
      "name": "Send Unique ID",
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "googleApi": {
          "id": "eocV2BBNNMkAOGPj",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1m9wnC9yN24iiH7_TYU-2uP1KoKRIWlbfi8kYijypwo0",
          "mode": "list",
          "cachedResultName": "Alpha",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m9wnC9yN24iiH7_TYU-2uP1KoKRIWlbfi8kYijypwo0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1061696512,
          "mode": "list",
          "cachedResultName": "ETH",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m9wnC9yN24iiH7_TYU-2uP1KoKRIWlbfi8kYijypwo0/edit#gid=1061696512"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "Unique ID"
          ],
          "schema": [
            {
              "id": "Unique ID",
              "displayName": "Unique ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Expiry Date",
              "displayName": "Expiry Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Entry Date",
              "displayName": "Entry Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Strike Price",
              "displayName": "Strike Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "0",
              "displayName": "0",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "1",
              "displayName": "1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "2",
              "displayName": "2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "3",
              "displayName": "3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "4",
              "displayName": "4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "5",
              "displayName": "5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "6",
              "displayName": "6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "7",
              "displayName": "7",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "8",
              "displayName": "8",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "9",
              "displayName": "9",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "10",
              "displayName": "10",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "11",
              "displayName": "11",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "12",
              "displayName": "12",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "13",
              "displayName": "13",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "14",
              "displayName": "14",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "15",
              "displayName": "15",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "16",
              "displayName": "16",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "17",
              "displayName": "17",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "18",
              "displayName": "18",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "19",
              "displayName": "19",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "20",
              "displayName": "20",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "21",
              "displayName": "21",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "22",
              "displayName": "22",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "23",
              "displayName": "23",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "24",
              "displayName": "24",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "25",
              "displayName": "25",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "26",
              "displayName": "26",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "27",
              "displayName": "27",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "28",
              "displayName": "28",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "29",
              "displayName": "29",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "30",
              "displayName": "30",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "31",
              "displayName": "31",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "32",
              "displayName": "32",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "33",
              "displayName": "33",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "34",
              "displayName": "34",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "35",
              "displayName": "35",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "22",
              "displayName": "22",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2440,
        640
      ],
      "id": "245d49ef-95bb-44bf-9324-c7a96d783483",
      "name": "Send Data",
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "googleApi": {
          "id": "eocV2BBNNMkAOGPj",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "66a65b82-cd02-4b5d-98ee-136badad9220",
              "leftValue": "={{ $json.Run }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -300,
        520
      ],
      "id": "1fc52173-a125-4567-8958-a5d1f9187f90",
      "name": "Time Slot Available?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "1facad23-a54d-4fad-8a69-58b3f2dbb153",
              "leftValue": "={{ $json.passed }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -100,
        460
      ],
      "id": "4767ae4e-9ed9-4546-b1f3-971d070c5c2a",
      "name": "Time is 5:30 AM?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5ffca535-55d0-4365-a5b5-889b065944e6",
              "name": "Stike Price",
              "value": "={{ $json[\"Strike Price\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        340,
        620
      ],
      "id": "c5cfca1d-5dbd-4af1-8da6-6bb7e5454661",
      "name": "Get Strike Price"
    },
    {
      "parameters": {
        "jsCode": "const strikePrices = $input.all().map(item => {\n  // Extract numeric strike value before the space\n  const raw = item.json[\"Stike Price\"];\n  return parseInt(raw.split(\" \")[0], 10);\n});\n\n// Get unique prices only\nconst uniquePrices = [...new Set(strikePrices)];\n\n// Find lower and upper\nconst lowerStrike = Math.min(...uniquePrices);\nconst upperStrike = Math.max(...uniquePrices);\n\nreturn [\n  {\n    json: {\n      lowerStrike,\n      upperStrike\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        620
      ],
      "id": "72f5f55e-3020-4e96-8102-d09e7e980f61",
      "name": "Process Stike Price"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "024d8465-bf82-412e-a4cf-f5f1857fe3c6",
              "name": "type",
              "value": "={{ $('Loop All Strike Price').first().json.type }}",
              "type": "string"
            },
            {
              "id": "f9cd77e0-d512-47cd-94b2-8dbc673503c8",
              "name": "entry",
              "value": "={{ $('Loop All Strike Price').first().json.entry  }}",
              "type": "string"
            },
            {
              "id": "bdacd8fc-c89e-4790-ba4d-e0ecf74bf551",
              "name": "expiry",
              "value": "={{ $('Loop All Strike Price').first().json.expiry }}",
              "type": "string"
            },
            {
              "id": "a39337fb-329b-4363-b8d7-52068abe930a",
              "name": "symbol_C",
              "value": "={{ $('Loop All Strike Price').first().json.symbol_C }}",
              "type": "string"
            },
            {
              "id": "7d3a146c-d17b-42be-a6a7-ad1d234c4d06",
              "name": "symbol_P",
              "value": "={{ $('Loop All Strike Price').first().json.symbol_P }}",
              "type": "string"
            },
            {
              "id": "cea1fa49-7282-4548-99c0-17ad620d872a",
              "name": "current_time",
              "value": "={{ $('Loop All Strike Price').first().json.current_time }}",
              "type": "string"
            },
            {
              "id": "b42552ce-6f13-450b-9062-675696f80f47",
              "name": "entry_time",
              "value": "={{ $('Loop All Strike Price').first().json.entry_time }}",
              "type": "string"
            },
            {
              "id": "d685beb0-c838-44ce-bbd3-52948ea1459b",
              "name": "expiry_time",
              "value": "={{ $('Loop All Strike Price').first().json.expiry_time }}",
              "type": "string"
            },
            {
              "id": "12e8b9dc-f713-422d-86b7-3458e834dacd",
              "name": "total_hours",
              "value": "={{ $('Loop All Strike Price').first().json.total_hours }}",
              "type": "string"
            },
            {
              "id": "cedb3dd8-3c7d-4d6e-8820-21f6dc671807",
              "name": "passed_hours",
              "value": "={{ $('Loop All Strike Price').first().json.passed_hours }}",
              "type": "string"
            },
            {
              "id": "dde709a4-973a-4cd7-8577-65a41cfae621",
              "name": "Run",
              "value": "={{ $('Loop All Strike Price').first().json.Run }}",
              "type": "string"
            },
            {
              "id": "c1e06910-65ee-45df-98ff-f02c82c4f1e5",
              "name": "lowerStrike",
              "value": "={{ $json.lowerStrike }}",
              "type": "number"
            },
            {
              "id": "ef971f56-e965-4d81-a1f5-ac0c402a1106",
              "name": "upperStrike",
              "value": "={{ $json.upperStrike }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        780,
        620
      ],
      "id": "0e57b9a0-3d9d-43f1-9435-8387f7937c21",
      "name": "Form Stike Price After 5:30"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1m9wnC9yN24iiH7_TYU-2uP1KoKRIWlbfi8kYijypwo0",
          "mode": "list",
          "cachedResultName": "Alpha",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m9wnC9yN24iiH7_TYU-2uP1KoKRIWlbfi8kYijypwo0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1061696512,
          "mode": "list",
          "cachedResultName": "ETH",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m9wnC9yN24iiH7_TYU-2uP1KoKRIWlbfi8kYijypwo0/edit#gid=1061696512"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Entry Date",
              "lookupValue": "={{ $json.entry.replace(/^0/, '') }}"
            },
            {
              "lookupColumn": "Expiry Date",
              "lookupValue": "={{ $json.expiry.replace(/^0/, '') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        120,
        620
      ],
      "id": "fb374233-1f9f-4916-9383-be62c3f2af62",
      "name": "Get row(s) in sheet",
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "googleApi": {
          "id": "eocV2BBNNMkAOGPj",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "timezone": "Asia/Kolkata"
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1520,
        600
      ],
      "id": "491d50a4-e32e-4a18-8d5a-c07b8a2a5fbd",
      "name": "Date & Time1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 30 * * * *"
            },
            {
              "field": "cronExpression",
              "expression": "0 55 13 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1720,
        600
      ],
      "id": "b0554e0c-775c-40fa-b918-29155d006fd0",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Date & Time": {
      "main": [
        [
          {
            "node": "Convert Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Timestamp": {
      "main": [
        [
          {
            "node": "Get Strike Price Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get BTCUSDT Data": {
      "main": [
        [
          {
            "node": "Get Lower & Upper Strike",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lower & Upper Strike": {
      "main": [
        [
          {
            "node": "Form Strike Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form Strike Price": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Strike Price Data": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Unique ID": {
      "main": [
        [
          {
            "node": "Check Unique ID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Generate Unique ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Time Difference": {
      "main": [
        [
          {
            "node": "Time Slot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Time Slot": {
      "main": [
        [
          {
            "node": "Loop All Strike Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Entry & Exit Date": {
      "main": [
        [
          {
            "node": "Time Difference",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop All Strike Price": {
      "main": [
        [],
        [
          {
            "node": "Time Slot Available?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unique ID Exist?": {
      "main": [
        [
          {
            "node": "Get Unique ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unique ID": {
      "main": [
        [
          {
            "node": "Send Unique ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Unique ID": {
      "main": [
        [
          {
            "node": "Unique ID Exist?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Data": {
      "main": [
        [
          {
            "node": "Loop All Strike Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Time Slot Available?": {
      "main": [
        [
          {
            "node": "Time is 5:30 AM?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop All Strike Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Time is 5:30 AM?": {
      "main": [
        [
          {
            "node": "Get BTCUSDT Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Strike Price": {
      "main": [
        [
          {
            "node": "Process Stike Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Stike Price": {
      "main": [
        [
          {
            "node": "Form Stike Price After 5:30",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form Stike Price After 5:30": {
      "main": [
        [
          {
            "node": "Form Strike Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Get Strike Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Get Entry & Exit Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "ff48f553-d056-4f9f-9c1c-5824bb52978a",
  "meta": {
    "instanceId": "184c3321f33bbaf64fd0e8877629ba809ac61b9465d76b6380084b70b3221d84"
  },
  "id": "qdy5AYALxJxRMwv4",
  "tags": []
}